[submodule "week0-typescript"]
	path = week0-typescript
	url = git@github.com:indralukmana/turbin3_Q3_indralukmana_week0_prerequisite-typescript.git
[submodule "week0-rust"]
	path = week0-rust
	url = git@github.com:indralukmana/turbin3_Q3_indralukmana_week0_prerequisite-rust.git
[submodule "week1-spl"]
	path = week1-spl
	url = git@github.com:indralukmana/turbin3_Q3_indralukmana_week1_spl.git
[submodule "week1-nft"]
	path = week1-nft
	url = git@github.com:indralukmana/turbin3_Q3_indralukmana_week1_nft.git
[submodule "week2-vault"]
	path = week2-vault
	url = git@github.com:indralukmana/turbin3_Q3_indralukmana_week2_vault.git
[submodule "week2-escrow"]
	path = week2-escrow
	url = git@github.com:indralukmana/turbin3_Q3_indralukmana_week2_escrow.git
[submodule "week2-amm"]
	path = week2-amm
	url = git@github.com:indralukmana/turbin3_Q3_indralukmana_week2_amm.git
[submodule "week3-staking"]
	path = week3-staking
	url = git@github.com:indralukmana/turbin3_Q3_indralukmana_week3_staking.git
